postsservice.wsdl

<?xml version='1.0' encoding='utf-8'?>
<definitions name="PostsService"
             targetNamespace="http://www.examples.com/wsdl/PostsService.wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://www.examples.com/wsdl/PostsService.wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.examples.com/wsdl/PostsService.wsdl">
            <xs:complexType name="tPosts">
                <xs:sequence>
                    <xs:element name="sTitle" type="xs:string"/>
                    <xs:element name="iCategoryID" type="xs:int"/>
                    <xs:element name="sImage" type="xs:string"/>
                    <xs:element name="dCreation_date" type="xs:date"/>
                    <xs:element name="iUnits" type="xs:int"/>
                    <xs:element name="fPrice" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfPosts">
                <xs:sequence>
                    <xs:element name="tAllPosts" type="tns:tPosts" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AllPostsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AllPostsResult" type="tns:ArrayOfPosts"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PostsPage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="iPage" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="GetPostsRequest">
        <part name="parameters" element="tns:PostsPage"/>
    </message>
    <message name="GetPostsResponse">
        <part name="parameters" element="tns:AllPostsResponse"/>
    </message>
    <portType name="PostsPort">
        <operation name="GetPosts">
            <input message="tns:GetPostsRequest"/>
            <output message="tns:GetPostsResponse"/>
        </operation>
    </portType>
    <binding name="GetPosts_Binding" type="tns:PostsPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetPosts">
            <soap:operation soapAction="GetPosts"/>
            <input>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:PostsService" use="encoded"/>
            </input>
            <output>
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:examples:PostsService" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="PostsService">
        <documentation>SourceLambda Web Service for public information about products from the website.</documentation>
        <port binding="tns:GetPosts_Binding" name="PostsPort">
            <soap:address location = "http://35.208.88.188/GetPosts/" />
        </port>
    </service>
</definitions>