posts.wsdl


<definitions name="PostsService" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <xsd:element name="GetPostsReq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="GetPostsReq" nillable="true" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetPostsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="GetPostsResult" nillable="true" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GetPostsSoapIn">
        <part name="parameters" element="tns:GetPosts" />
    </message>
    <message name="GetPostsSoapOut">
        <part name="parameters" element="tns:GetPostsResponse" />
    </message>
    <portType name="PostsSoap">
        <operation name="GetPosts">
            <input message="tns:GetPostsSoapIn" />
            <output message="tns:GetPostsSoapOut" />
        </operation>
    </portType>
    <binding name="PostsSoap" type="tns:PostsSoap">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="GetPosts">
            <soap:operation soapAction="http://tempuri.org/GetPosts" style="document" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body>
                    <soap:encodingStyle value="http://schemas.xmlsoap.org/soap/encoding/" />
                </soap:body>
            </output>
        </operation>
    </binding>
    <service name="PostsService">
        <port name="PostsSoap" binding="tns:PostsSoap">
            <soap:address location="http://localhost:3000/soap/posts" />
        </port>
    </service>
</definitions>